@import url('https://fonts.googleapis.com/css?family=Open+Sans:Light');

body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240,240,240)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: "150%";
}
h2 {
  font-size: "120%";
}